body {
<<<<<<< HEAD
  background-color: beige;
}

h1 {
  color: black;
=======
  background-color: lightblue;
}

h1 {
  color: white;
>>>>>>> master
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}